.container{
    background-color: rgb(117, 145, 158);
    width: 300px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 100px 100px 100px 550px;
    padding: 10px
}
.display{
    background-color: rgb(253, 253, 253);
    width: 290px;
    height: 100px;
    border: 1px solid;
    margin: 10px 5px 10px 5px
}
.display p{
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
}
.row{
    display: flex;
    flex: 1;
    gap: 10px;
    margin-bottom: 10px
}
.row button{
    flex: 1;
    font-size: 20px;
    font-weight: bolder;
    background-color:rgb(117, 145, 158)
}
#divide, #multiply, #minus, #plus{
    background-color:rgb(208, 161, 94)
}